*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid lightgray;
}

.title {
    font-weight: bolder;
    margin-top: 5px;
}

.item {
    margin-top: 3px;
}

.search-bar {
    font-size: 14px;
}

.out-of-stock {
    color: red;
}